html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #FEFBE7;
    width: 100%;
    height: 100%;
}

ul, li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}

body {
    background: url(./../assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page-wrapper {
    max-width: 1920px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.weather__city {
    width: 100%;
    text-align: left;
    font-size: 2.2rem;
}
.weather__city p {
    margin: 0;
}
.weather__city hr  {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.weather__forecast {
    font-size: 1.6rem;
}
.weather__forecast ul li{
    padding-bottom: 15px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 0;
   
}
.current-time {
    font-size: 7.6rem;
    line-height: 8.6rem;
    font-weight: bold;
}
.current-date {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: normal;
}